---
Checks: '*,
        -abseil-*,
        -altera-*,
        -android-*,
        -bugprone-easily-swappable-parameters,
        -cppcoreguidelines-avoid-magic-numbers,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -fuchsia-*,
        -google-*,
        -hicpp-named-parameter,
        -hicpp-uppercase-literal-suffix,
        -llvm*,
        -misc-non-private-member-variables-in-classes,
        -modernize-use-trailing-return-type,
        -readability-avoid-const-params-in-decls,
        -readability-else-after-return,
        -readability-function-cognitive-complexity,
        -readability-identifier-length,
        -readability-implicit-bool-conversion,
        -readability-magic-numbers,
        -readability-named-parameter,
        -readability-static-accessed-through-instance,
        -readability-uppercase-literal-suffix,
        -zircon-*
'
WarningsAsErrors:             ''
HeaderFileExtensions:         ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
HeaderFilterRegex:            ''
FormatStyle:                  file
InheritParentConfig:          false
        #CheckOptions:
...
